/* BEGIN - TRANSLATIONS */
#id_change_language {
  margin-left: 30px;
}

#id_change_language option {
  text-align: left;
}
/* END - TRANSLATIONS */

/* BEGIN - FOOTER LOGOS */
.footer-logo{
  width: 160px;
  height: 100px;
  padding-right: 20px;
  padding-bottom: 5px;
}
.footer-logo-calco{
  width: 200px;
  height: 80px;
  padding-right: 20px;
  padding-bottom: 5px;
}
.footer-logo-angus{
  width: 160px;
  height: 80px;
  padding-right: 20px;
  padding-bottom: 5px;
}
/* END - FOOTER LOGOS */

/* <<<<<<< patcher */

/* BEGIN - BUTTON LENGUAGE SWITCH*/
.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
  }

.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #F36F25;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #F36F25;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #F36F25;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #F36F25;
  -webkit--moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}


input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}
/* =======>>>>>>> main */

.icon-cow{

    width: 160px;
    height: 160px;
}

.nav-link,
.nav-link2 {
  cursor: pointer;
}

/* ----- index2.html ----- */
.hero-section {
  background-color: black;
}

.data_content_container {
  position: relative;
  text-align: center;
}

.data_content_by_link {
  position: absolute;
  margin-top: 2%;
  width: 100%;
  height: 100vh;
  background-color: white;
  overflow-y: scroll;
  margin-bottom: 200px;
  padding-bottom: 200px;
}

.data_content_by_link p {
  font-size: 25px;
}

.media_videos {
  margin-bottom: 15em;
  border-radius: 1.5em;
}

.media_videos:first-of-type {
  margin-top: 3.5em;
}

.media_videos:last-of-type {
  margin-bottom: 0;
}

/* ----- index2.html ----- */

/* Carousel */
.about-section-index2 {
  background-color: #717171;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.section-padding-index2 {
  padding-top: 65px;
  padding-bottom: 100px;
}

.services-info {
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.slide {
  min-width: 100%;
  flex-shrink: 0;
  height: auto;
}

.slide img {
  margin-top: 5.25em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  width: 40em;
  height: 25.5em;
}

/*Icon PC */
.icon-pc{
  height: 50px;
  width: 50px;
}
.refill {
  width: 100%;
  height: 8em;
  background-color: black;

}
/* Apartado de Catalogo Index2 */
.divs-parrafo{
  font-size: 25px;
}

.divs-parrafo p {
  position: relative;
  left: 5%;
  width: 90%;
}

.catalogo-img{
  border-radius: 50px ;
  width: 800px;
  height: 500px;
  -webkit-border-radius: 50px ;
  -moz-border-radius: 50px ;
  -ms-border-radius: 50px ;
  -o-border-radius: 50px ;
}
.programa-genetico-img{
  border-radius: 50px;
  width: 800px;
  height: 500px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.beef-section{
    border-radius: var(--border-radius-medium) ;
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 80px 32px;
}
 
.articles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
    gap: 25px;
}
 
.articles article {
    max-width: 320px;
    cursor:default;
    position: relative;
    display: block;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 16px 16px 0 0;
}

.articles article a {
    display: inline-flex;
    color: var(--primary);
    text-decoration: none;
}


.articles article h2 {
    margin: 0 0 18px 0;
    font-size: 1.6rem;
    color: var(--secondary);
    transition: color 0.3s ease-out;
}
.articles article h6 {
  margin: 0 0 18px 0;
  font-size: 1rem;
}
  
.articles article img {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}
  
.article-preview {
    width: 100%;
    height: 100%;
    background: white;
    
    border-radius: 0 0 16px 16px;
}

.articles figure {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.articles figure img {
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    object-fit: cover;
}

.articles article:hover img {
    transform: scale(1.2); 
}

.team-description{
  font-style: italic;
  
  
}
.beef-description{
  background-color: rgb(252, 241, 226);
  width: 100%;
  height: 100%;
  box-shadow: #717171 0px 0px 10px 0px;
}