/* BEGIN - TRANSLATIONS */
#id_change_language option {
  text-align: left;
}
/* END - TRANSLATIONS */

/* BEGIN - FOOTER LOGOS */
.footer-logo{
  width: 160px;
  height: 100px;
  padding-right: 20px;
  padding-bottom: 5px;
}
.footer-logo-calco{
  width: 200px;
  height: 80px;
  padding-right: 20px;
  padding-bottom: 5px;
}
.footer-logo-angus{
  width: 160px;
  height: 80px;
  padding-right: 20px;
  padding-bottom: 5px;
}
/* END - FOOTER LOGOS */

/* <<<<<<< patcher */

/* BEGIN - BUTTON LENGUAGE SWITCH*/
.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
  }

.switch > span {
  position: absolute;
  top: 14px;
  pointer-events: none;
  font-family: 'Helvetica', Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #F36F25;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #F36F25;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 97px;
  height: 35px;
  background-color: #F36F25;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #F36F25;
  -webkit--moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  -moz-transition: margin 0.2s;
  -o-transition: margin 0.2s;
  transition: margin 0.2s;
}


input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}
/* =======>>>>>>> main */

.icon-cow{

    width: 160px;
    height: 160px;
}

.nav-link,
.nav-link2 {
  cursor: pointer;
}

/* ----- index2.html ----- */
.hero-section {
  background-color: black;
}

.data_content_container {
  position: relative;
  text-align: center;
}

.data_content_by_link {
  position: absolute;
  margin-top: 2%;
  width: 100%;
  height: 100vh;
  background-color: rgb(10, 10, 10);
  overflow-y: scroll;
  margin-bottom: 200px;
  padding-bottom: 200px;
}

.data_content_by_link p {
  font-size: 25px;
  color:rgba(255,255,255,0.6) ;
}

.media_videos {
  margin-bottom: 15em;
  border-radius: 1.5em;
}

.media_videos:first-of-type {
  margin-top: 3.5em;
}

.media_videos:last-of-type {
  margin-bottom: 0;
}

.nav-item {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}

.nav-btn {
  display: inline-flex;
}

.nav-btn {
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 1.25vh;
  border: transparent;
  border-radius: 3vh;
  color: white;
  background-color: var(--custom-btn-lng-color);
  cursor: pointer;
}

.nav-btn:hover {
  color: var(--link-hover-color);
}

/* ----- index2.html ----- */

/* Carousel */
.about-section-index2 {
  background-color: #717171;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.section-padding-index2 {
  padding-top: 65px;
  padding-bottom: 100px;
}

.services-info {
  margin-left: 2.5em;
  margin-right: 2.5em;
}

.slide {
  min-width: 100%;
  flex-shrink: 0;
  height: auto;
}

.slide img {
  margin-top: 5.25em;
  width: 40em;
  height: 25.5em;
}

/*Icon PC */
.icon-pc{
  height: 50px;
  width: 50px;
}
.refill {
  width: 100%;
  height: 8em;
  background-color: rgb(0, 0, 0);

}
/* Apartado de Catalogo Index2 */

.div-catalog{
  font-size: 25px;
  margin-left: 0%;
  margin-right: 0%;
  background-color: #512421;
  padding: 2%;
}

.divs-parrafo{
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%;
}

.divs-parrafo p {
  position: relative;
  left: 5%;
  width: 90%;
}

.catalogo-img{
  width: 800px;
  height: 500px;
  -webkit-border-radius: 20px ;
  -moz-border-radius: 20px ;
  -ms-border-radius: 20px ;
  -o-border-radius: 20px ;
}
.programa-genetico-img{
  width: 800px;
}
.beef-section{
    border-radius: var(--border-radius-medium) ;
    width: 100%;
    height: 100%;
}

.background {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 80px 32px;
}
 
.articles {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: center;
    max-width: 1200px;
    gap: 25px;
}
 
.articles article {
    max-width: 320px;
    cursor:default;
    position: relative;
    display: block;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    border-radius: 16px 16px 0 0;
}

.articles article a {
    display: inline-flex;
    color: rgb(73, 73, 73);
    text-decoration: none;
}


.articles article h2 {
    margin: 0 0 18px 0;
    font-size: 1.6rem;
    color: var(--secondary);
    transition: color 0.3s ease-out;
}
.articles article h6 {
  margin: 0 0 18px 0;
  font-size: 1rem;
}
  
.articles article img {
    max-width: 100%;
    transform-origin: center;
    transition: transform 0.4s ease-in-out;
}
  
.article-preview {
    width: 100%;
    height: 100%;
    background: white;
    
    border-radius: 0 0 16px 16px;
}

.articles figure {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.articles figure img {
    height: 100%;
    aspect-ratio: 16 / 9;
    overflow: hidden;
    object-fit: cover;
}

.articles article:hover img {
    transform: scale(1.2); 
}

.team-description{
  font-style: italic;
}
.beef-description{
  background-color: rgb(248, 239, 227);
  width: 100%;
  height: 100%;
  box-shadow: #717171 0px 0px 10px 0px;
}

.banner-about-us{
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  
  box-shadow: #0c0c0c 0px 0px 20px 0px;
}


/* Estilo del contenedor de la sección de prensa */
.seccion-prensa {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1200px;
  gap: 25px;
}

/* Estilo de los contenedores de iframe dentro de la grilla */
.iframe-container {
  flex: 0 0 calc(33.33% - 25px); /* Ajusta el ancho del contenedor según tus necesidades */
  position: relative;
}

/* Estilo de los iframes dentro de los contenedores */
.iframe-container iframe {
  width: 100%;
  height: 180px; /* Ajusta la altura según tus necesidades */
  border: 0;
  cursor: pointer;
  transition: transform 0.4s ease-in-out;
  border-radius: 16px;
}

/* Al hacer clic en un iframe, agrandarlo */
.iframe-container iframe:focus {
  transform: scale(1.2);
}

/* Ajusta el tamaño del contenedor cuando un iframe se agranda */
.iframe-container iframe:focus {
  max-width: 100%;
  height: 300px; /* Ajusta la altura cuando se agranda */
}

/* Media query para hacer la grilla responsive en pantallas pequeñas */
@media screen and (max-width: 600px) {
  .seccion-prensa {
    justify-content: flex-start;
  }

  .iframe-container {
    flex: 0 0 calc(50% - 12.5px);
    margin-bottom: 15px;
  }
}
.programa-genetico{
  color: rgb(184, 37, 37);
}

/* BEGIN - MODAL */
.front_modal {
  width: 1400px;
  height: 900px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: transparent;
  border-radius: 1em;
  box-shadow: 0.2em 0.2em 0.2em rgb(54, 53, 53);
  z-index: 1;
}

.front_modal button {
  width: 10%;
  border: none;
  outline: none;
  background: none;
  font-size: 30px;
  z-index: 2;
}

.expand_screen {
  margin: 1.5em;
  padding: 0.75em;
  border: transparent;
  border-radius: 2em;
  color: #ac0000;
  background-color: white;
}
/* END - MODAL */


/* Comienzan las modificaciones para hacer la pagina mas parecida a los ejemplos */
h2.grifito {
  font-size: 56px;
  line-height: 40px;
}
.light h1, .light h2, .light h3, .light h4, .light h5, .light h6, .light p {
  color: #fff;
}
.grifito {
  font-family: 'grifito' !important;
  color: #fff;
  padding: 2px;
}

.open-sans,
.sales_numbers {
  font-family: 'Open Sans', sans-serif !important;
  font-size: 15px;
  text-align: left;
  font-size: 20px;
  line-height: 34px;
  font-weight: 400;
}

.open-sans {
  color: rgba(255,255,255,0.6);
}

.sales_numbers {
  color: white;
  font-size: 18px;
}

.sales_divs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gen-program {
  display: flex;
  flex: 1;
  max-height: 100vh;
  margin-left: 0%;
  margin-right:0%;
  overflow: hidden;
}

.text-content {
  flex: 1;
  background-color: #512421;
  padding: 0px;
  box-sizing: border-box; 
}
.paragraph-content{
  padding-left: 90px;
  padding-right: 90px;
}

img.programa-genetico-img {
  max-width: 100%;
  max-height: 100%;
  width: 50%;
  object-fit: cover;
}

.divs-parrafo{
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%;


}

.divs-parrafo p {
  position: relative;
  left: 5%;
  width: 90%;
}

/* exportacion footer */
.export_logo_footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.export_logo_footer .export_logo_footer_div:first-of-type img {
  margin: 0.5vh;
  width: 11vh;
  height: 9vh;
  border-radius: 30%;
}

.export_logo_footer .export_logo_footer_div:last-of-type img {
  margin: 0.5vh;
  width: 10vh;
  height: 10vh;
  border-radius: 4em;
}

.export_logo_footer_div {
  margin: 2vh;
  margin-bottom: -2vh;
}

.export_logo_footer_div:first-of-type {
  border-radius: 30%;
  background-color: white;
}

.export_logo_footer_div:last-of-type {
  border-radius: 4em;
  background-color: rgb(235, 234, 234);
}

/* Responsividad de programa genetico */

@media (max-width: 767px) {
    .gen-program {
      flex-direction: column; /* Cambia la dirección en pantallas más pequeñas */
      max-height: fit-content;
      }

    .text-content,
    img.programa-genetico-img {
        width: 100%; /* Ocupa el 100% del ancho en pantallas más pequeñas */
        order: 1; 
    }
    .programa-genetico-img {
      height: 100%;
    }

    img.programa-genetico-img {
        order: -1; /* Cambia el orden para invertir la posición de la imagen y el texto en pantallas más pequeñas */
    }
}

@media screen and (max-width: 1235px) {
  
  .text-content{
    padding: 0px;
}
.paragraph-content{
  padding-left: 0px;
  padding-right: 0px;
}
}
@media screen and (max-width: 991px) {
  .paragraph-content{
    padding-left: 0px;
    padding-right: 0px;
  }}
@media screen and (max-width: 850px) {.paragraph-content{
  padding-left: 0px;
  padding-right: 0px;
}}
@media screen and (max-width: 767px) {.paragraph-content{
  padding-left: 0px;
  padding-right: 0px;
}}
@media screen and (max-width: 500px) {
  .paragraph-content{
    padding-left: 0px;
    padding-right: 0px;
  }

  .slide img {
    height: 25em;
  }
}
@media screen and (max-width: 480px) {
  .paragraph-content{
    padding-left: 0px;
    padding-right: 0px;
  }

  .slide img {
    height: 20em;
  }
}

@media screen and (max-width: 425px) {
    .slide img {
      height: 15em;
    }
}

@media screen and (max-width: 300px) {
  .paragraph-content{
      padding-left: 0px;
      padding-right: 0px;
    }

    .slide img {
      height: 10em;
    }
}