/* BEGIN - MODAL */
.front_modal {
    width: 500px;
    height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front_modal img {
    width: 425px;
    height: 425px;
}

.front_modal button {
    width: 10%;
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
}
/* END - MODAL */

#id_change_language {
    margin-left: 30px;
}